*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
body{
    font-family: montserrat;
    background-color: #222222;
  }
nav{
    height: 60px;
    width: 100%;
  }

label {
    float: left;
}

a {
    color: white;
}

label.logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: regular;
    font-family: 'Khand', sans-serif;
  }

label.logo img {
    width: 40px;
    height: 35px;
    margin-right: 10px;
}

nav .navbuttons{
    float: left;
    margin-right: 20px;
    margin-top: 0px;
  }

 nav .navicons{
  float: right;
  margin-right: 8.3%;
  margin-bottom: 0.0.2%;

 } 

nav .navbuttons li{
    display: inline-block;
    line-height: 80px;
    margin-top: 0 5px;
  }

  nav .navicons li{
    display: inline-block;
    line-height: 80px;
    margin-top: 18px;
  }

nav .navbuttons li a{
    color: #8e8e8e;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
  }

  nav .navicons li a{
    padding: 7px 13px;
    border-radius: 3px;
  }

  nav .navbuttons li a:hover{
    font-size: 18px;
    color: white;
  }




.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
#check{
    display: none;
  }
@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav .navbuttons li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    .navbuttons{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #171717;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav .navbuttons li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav .navbuttons li a{
      font-size: 20px;
    }
    #check:checked ~ .navbuttons{
      left: 0;
    }
  }


.slide-toggle{
    display: none;
  }
  
  .slidemenu{
    background-color: #171717;
    color: #8E8E8E;
    width: 100%;
    height: 100px;
    font-family: montserrat;
    overflow: hidden;
  }
  
  .slidemenu label{
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    margin-top: 15px;
    
  }
  
  
  .slidemenu label span{
    display: block;
    padding: 10px;    
  }
  

  .slidemenu a {
    color: #8E8E8E;
  }

  
.blog_title {
  text-align: center;
  color: white;
  margin-top: 1%;
  margin-bottom: 3%;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  padding-bottom: 50px;
}

.articles-list .col {
  width: 33%;
  flex: none;
}

.articles-list .card {
  background-color: transparent;
  border: none;
}

.card-title a{
  font-weight: 400;
  font-size: 16px !important;
  line-height: 22px;
  color: #979797;
}

.page-title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin: 20px 0;

}

.post-container {
  margin-top: 2%;
  width: 80%;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center2 {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 80%;
}

.center2 p {
  margin-top: 2%;
  font-family: montserrat;
  width: 70%;
  font-weight: 300;
}

.center2 img {
  margin-top: 2%;
  margin-bottom: 2%;
}

.parent {
  top: 0;
  left: 0;
  
}
.style-image{
  width: 100% ;
  height: 40%;
  position: relative;
  top: 0;
  left: 0;
 
}
.image2 {
  width: 60% ;
  height: 85%;
  
 
  position: absolute;
  
  left: 0px;
  
}
.Corn {
position: relative;
text-align: center;
color: white;
}


.bottom-left {
 
position: absolute;
bottom: 600px;
left: 120px;
font-size: 50px;
}
.bottom-lefts {
 
  position: absolute;
  bottom: 520px;
  left: 120px;
  font-size: 30px;
}
.bottom-leftt {
  
  position: absolute;
  bottom: 480px;
  left: 120px;
  font-size: 30px;
}
.bottom-lefty {
  
  position: absolute;
  bottom: 440px;
  left: 120px;
  font-size: 30px;
}
.button {
  text-align: center;  
  color: white;
  position: absolute;
  background-color: red;
  height: 35px;
  width: 160px;
  bottom: 380px;
  left: 110px;
}

.Kon{
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
}

.Cop{
  position: relative;
  width: 250px;
  height: 100px;
  left: 310px;
  top: 140px;
}
.Cor{
  position: relative;
  width: 250px;
  height: 100px;
  left: 410px;
  top: 140px;
}
.Cos{
  position: relative;
  width: 250px;
  height: 100px;
  left: 510px;
  top: 140px;
}
.Com{
  position: relative;
  width: 250px;
  height: 100px;
  left: 610px;
  top: 140px;
}
/* Популярні бренди*/
/* Хіти продажу*/
.Kol{
  color: white;
  text-align: center;
  position: relative;
  top: 200px;
}
.squares{
  position: relative;
  background: #171717;
  top: 280px;
  width: 250px;
  height: 290px;
  left: 155px;

}
.squared{
  position: relative;
  background: #171717;
  top: 280px;
  width: 250px;
  height: 290px;
  left: 245px;

}

.squaref{
  position: relative;
  background: #171717;
  top: 280px;
  width: 250px;
  height: 290px;
  left: 335px;
}
.squareg{
  position: relative;
  background: #171717;
  top: 280px;
  width: 250px;
  height: 290px;
  left: 425px;
}
.squareh{
  position: relative;
  background: #171717;
  top: 280px;
  width: 250px;
  height: 290px;
  left: 515px;

}

.puff{
  background: #171717;
  position: relative;
  width: 100%;
  height: 320px;
  top: 450px;
}
/*Продукти*/
.Ponos{
  
  position: absolute;
  top: 50px;
  left: 100px;
  color: #FFFFFF;
}
.Ponoss{
  
  position: absolute;
  top: 120px;
  left: 100px;
  color: #FFFFFF;
}
.Ponossd{
  
  position: absolute;
  top: 150px;
  left: 100px;
  color: #FFFFFF;
}
.Ponossf{
  
  position: absolute;
  top: 180px;
  left: 100px;
  color: #FFFFFF;
}
.Ponossg{
  
  position: absolute;
  top: 210px;
  left: 100px;
  color: #FFFFFF;
}
.Ponossh{
  
  position: absolute;
  top: 240px;
  left: 100px;
  color: #FFFFFF;
}
 /*Продукти*/
 /*Бренди*/
 .Dog{
  
  position: absolute;
  top: 50px;
  left: 500px;
  color: #FFFFFF;
}
.Dogs{
  
  position: absolute;
  top: 120px;
  left: 500px;
  color: #FFFFFF;
}
.Dogd{
  
  position: absolute;
  top: 150px;
  left: 500px;
  color: #FFFFFF;
}
.Dogf{
  
  position: absolute;
  top: 180px;
  left: 500px;
  color: #FFFFFF;
}
.Dogg{
  
  position: absolute;
  top: 210px;
  left: 500px;
  color:#FFFFFF;
}
.Dogh{
  
  position: absolute;
  top: 240px;
  left: 500px;
  color: #FFFFFF;
}

.Cat{
    
  position: absolute;
  top: 50px;
  left: 900px;
  color: #FFFFFF;
}
.Cats{
  
  position: absolute;
  top: 120px;
  left: 900px;
  color: #FFFFFF;
}
.Catd{
  
  position: absolute;
  top: 150px;
  left: 900px;
  color: #FFFFFF;
}
.Catf{
  
  position: absolute;
  top: 180px;
  left: 900px;
  color: #FFFFFF;
}
.Catg{
  
  position: absolute;
  top: 210px;
  left: 900px;
  color:#FFFFFF;
}
.Cath{
  
  position: absolute;
  top: 240px;
  left: 900px;
  color: #FFFFFF;
}
 /*Сервіс*/
 /*Контакти*/
 .Suck{
  position: absolute;
  top: 50px;
  left: 1400px;
  color: #FFFFFF;
 }
 .Sucks{
  position: absolute;
  top: 110px;
  left: 1400px;
  color: #FFFFFF;
 }
 .Suckd{
  position: absolute;
  top: 180px;
  left: 1400px;
  color: #FFFFFF;
 }
 .Suckf{
  position: absolute;
  top: 250px;
  left: 1390px;
  color: #FFFFFF;
 }


 /*123123112312 */

 .articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  padding-bottom: 50px;
}

.articles-list .col {
  width: 32%;
  flex: none;
}

.articles-list .card {
  background-color: transparent;
  border: none;
}

.card-title {
  font-weight: 500;
  font-size: 18px !important;
  line-height: 22px;
  color: #979797;
}

.page-title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin: 20px 0;

}


.catalog-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 75px;
  column-gap: 40px;
  justify-content: space-between;
  margin: 50px 0;
  padding: 0 200px;
}

.catalog-item {
  padding: 20px 50px;
  background: #171717;
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 237px;
}

.catalog-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #FFFFFF;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kartka {
  margin-left: 19%;
  margin-top: 2%;
  max-width: 250px;
  max-height: 290px;
  text-align: center;
  background-color: #171717;
  padding-bottom: 16.5%;
}

.kartka img {
  max-width: 120px;
  max-height: 120px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.kartka h1 {
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-bottom: 10%;
}

.gosha {
  display: inline-block;
}

.tsina {
  color: white;
  font-size: 14px;
  font-weight: 500;
}


.taras {
  margin-top: 2%;
}

.specificProductImage {
  width: 380px;
  height: 380px;
}

.rightComponents {
  text-align: right;
  margin-top: -38%;
  color: white;
}

.knopochka {
  margin-top: 15%;
  width: 20%;
  margin-left: 5%;
  height: 45px;
  border: none;
  color: white;
}

.andruha {
  font-weight: 500;
}

.opis_har {
  color: white;
  margin-top: 5%;
  font-weight: 200;
}

.opis_towaru {
  margin-top: 3%;
  font-weight: 400;
}