{% extends 'shop/header_menu.html' %}
{% block content %}
    <div class="post-container, center2">
        <h1>{{ specificPost.title }}</h1>
        <p>{{ specificPost.intro }}</p>
        <img class="center" src="{{ specificPost.image.url }}">
        <p>{{ specificPost.body }}</p>
    </div>
    
{% endblock %}