{% extends 'shop/header_menu.html' %}
{% block content %}
    <h1 class="blog_title">Блог</h1>
    <div class="blog-container">
        <div class="articles-list">
            {% for post in posts %}
                <div class="col">
                    <div class="card_h-100">
                        <a href="{% url 'post' post.id %}"><img src="{{ post.image.url }}" class="card-img-top"></a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'post' post.id %}">
                                    {{ post.title }}
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}