{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/css/black_menu.css' %}">
    <title>Document</title>
    {% block extrahead %}{% endblock %}
</head>
<body>

    <nav class="slidemenu">
  
        <label for="slide-item-1"><a href="#"><img src="{% static 'shop/images/Catalog.png' %}"class="icon"><span>Каталог</span></a></label>
        
        <label for="slide-item-2"><a href="#"><img src="{% static 'shop/images/Vector.png' %}"class="icon"><span>ПК-Конфігуратор</span></a></label>
        
        <label for="slide-item-3"><a href="#"><img src="{% static 'shop/images/bi_pc-display.png' %}"class="icon"><span>ПК в наявності</span></a></label>
        
        <label for="slide-item-4"><a href="#"><img src="{% static 'shop/images/Compare.png' %}"class="icon"><span>Порівняння</span></a></label>
        
      </nav>

      {% block content %}
 
      {% endblock %}
      
</body>
</html>