{% extends 'shop/header_menu.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container">
        <div class="page-title">Каталог</div>
        <div class="catalog-list">
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="category/3"><img src="{% static 'shop/images/process.png' %}" alt=""></a>
                </div>
                <h5 class="catalog-item-title">
                    <a href="categopry/3">Процесори</a>
                </h5>
            </div>
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="category/4"><img src="{% static 'shop/images/video.png' %}" alt=""></a>
                </div>
                <h5 class="catalog-item-title">
                    <a href="category/4">Відеокарти</a>
                </h5>
            </div>
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="category/11"><img src="{% static 'shop/images/mother.png' %}" alt=""></a>
                </div>
                <h5 class="catalog-item-title">
                    <a href="category/11">Материнські плати</a>   
                </h5>
            </div>
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="category/7"><img src="{% static 'shop/images/power.png' %}" alt=""></a>
                </div>
                <h5 class="catalog-item-title">
                    <a href="category/7">Блоки Живлення</a>
                </h5>
            </div>
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="category/8"><img src="{% static 'shop/images/ssd.png' %}" alt=""></a>
                </div>
                <h5 class="catalog-item-title">
                    <a href="category/8">SSD</a>
                </h5>
            </div>
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="category/10"><img src="{% static 'shop/images/corpus.png' %}" alt=""></a>
                </div>
                <h5 class="catalog-item-title">
                    <a href="category/10">Корпуси</a>
                </h5>
            </div>
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="category/5"><img src="{% static 'shop/images/om.png' %}" alt=""></a>
                </div>
                <h5 class="catalog-item-title">
                    <a href="category/5">Оперативна пам’ять</a>
                </h5>
            </div>
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="category/9"><img src="{% static 'shop/images/proc.png' %}" alt=""></a>
                </div>
                <h5 class="catalog-item-title">
                    <a href="category/9">HDD</a>
                </h5>
            </div>
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="category/12"><img src="{% static 'shop/images/coll.png' %}" alt=""></a>
                </div>
                <h5 class="catalog-item-title">
                    <a href="category/12">Системи охолодження</a>
                </h5>
            </div>
        </div>
    </div>
</main>
{% endblock %}