{% extends 'shop/header_menu.html' %}
{% load static %}
{% block content %}
{% for product in products %}
    <div class="kartka">
        <a href="/catalog/product/{{ product.id }}"><img src="{{ product.image.url }}"></a>
        <h1><a href="/catalog/product/{{ product.id }}">{{ product.name }}</a></h1>
        <p class="tsina">{{ product.price }}</p>
        <img src="{% static 'shop/images/button_buy.png' %}" class="ostap">
        
  </div>
{% endfor %}
{% endblock %}