{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KikoKubiu - Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand&display=swap" rel="stylesheet">
    <link  type="text/css" rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo"><a href="{% url 'homepage' %}"><img src="{% static 'shop/images/logo.png' %}">KikoKubiu</a></label>
      <ul class="navbuttons">
        <li><a href="{% url 'homepage' %}">Головна сторінка</a></li>
        <li><a href="/catalog/">Каталог</a></li>
        <li><a href="/blog/">Блог</a></li>
        <li><a href="#">Апгрейд</a></li>
        <li><a href="#contacts">Контакти</a></li>
      </ul>
      <ul class="navicons">
        <li><a href="#" class="loginbutton"><img src="{% static 'shop/images/login.png' %}" alt=""></a></li>
        <li><a href="#"><img src="{% static 'shop/images/cart.png' %}" alt=""></a></li>
      </ul>
    </nav>

    <div class="wrapper">
      {% block content %}
 
      {% endblock %}
    </div>
  </body>
</html>