{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KikoKubiu - Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand&display=swap" rel="stylesheet">
    <link  type="text/css" rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    {% block extra_head_content  %} {% endblock %}
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo"><a href="{% url 'homepage' %}"><img src="{% static 'shop/images/logo.png' %}">KikoKubiu</a></label>
      <ul class="navbuttons">
        <li><a href="{% url 'homepage' %}">Головна сторінка</a></li>
        <li><a href="/catalog/">Каталог</a></li>
        <li><a href="/blog/">Блог</a></li>
        <li><a href="#">Апгрейд</a></li>
        <li><a href="#contacts">Контакти</a></li>
      </ul>
      <ul class="navicons">
        <li><a href="#" class="loginbutton"><img src="{% static 'shop/images/login.png' %}" alt=""></a></li>
        <li><a href="#"><img src="{% static 'shop/images/cart.png' %}" alt=""></a></li>
      </ul>
    </nav>

    <nav class="slidemenu">
  
        <label for="slide-item-1"><a href="#"><img src="{% static 'shop/images/Catalog.png' %}"class="icon"><span>Каталог</span></a></label>
        
        <label for="slide-item-2"><a href="#"><img src="{% static 'shop/images/Vector.png' %}"class="icon"><span>ПК-Конфігуратор</span></a></label>
        
        <label for="slide-item-3"><a href="#"><img src="{% static 'shop/images/bi_pc-display.png' %}"class="icon"><span>ПК в наявності</span></a></label>
        
        <label for="slide-item-4"><a href="#"><img src="{% static 'shop/images/Compare.png' %}"class="icon"><span>Порівняння</span></a></label>
        
    </nav>

    <div class="wrapper">
        {% block content %}
 
        {% endblock %}
    </div>
    <div class="puff" id="contacts">
      <h1 class="Ponos">Продукти</h1>
      <a class="Ponoss" href="">Процесори </a>
      <a class="Ponossd" href="">Відеокарти </a>
      <a class="Ponossf" href="">Материнські плати </a>
      <a class="Ponossg" href="">Оперативна пам'ять </a>
      <a class="Ponossh" href="">SSD Диски </a>
      
      <h1 class="Dog">Бренди</h1>
      <a class="Dogs" href="">Gigabyte </a>
      <a class="Dogd" href="">NVidia </a>
      <a class="Dogf" href="">Logitech </a>
      <a class="Dogg" href="">Asus</a>
      <a class="Dogh" href="">Intel</a>
      
      <h1 class="Cat">Сервіс</h1>
      <a class="Cats" href="">Upgrade Center </a>
      <a class="Catd" href="">Служба підтримки </a>
      <a class="Catf" href="">Гарантія </a>
      <a class="Catg" href="">База знань</a>
      <a class="Cath" href="">Центр завантажень</a>
      
      <h1 class="Suck">Контакти</h1>
      <a class="Sucks" href=""> <img src="{% static 'shop/images/Phone.png'%}"> </a>
      <a class="Suckd" href=""> <img src="{% static 'shop/images/Telegram.png'%}"></a>
      <a class="Suckf" href=""> <img src="{% static 'shop/images/Location.png'%}"></a>
      </div>
      </nav>
  </body>
</html>