{% extends 'shop/header.html'  %}
{% load static %}
{% block content %}
<div class="parent">
    <img class="style-image" src="{% static 'shop/images/Table.jpg' %}" />
    <img class="image2" src="{% static 'shop/images/Poverh.png' %}" />
    <div class = "Corn" >
    <div class="bottom-left">Збери сам</div>
    <div class="bottom-lefts">Використайте наш додаток, щоб</div>
    <div class="bottom-leftt">самостійно підібрати комплектуючі</div>
     <div class="bottom-lefty">і зібрати ПК своєї мрії майже власноруч</div>
     <a href="#" class = "button"><img src="{% static 'shop/images/pfkedf.png' %}"></a>
    </div> 
    </div>
    <nav class="slidemenu">

        <label for="slide-item-1"><a href="/catalog/"><img src="{% static 'shop/images/Catalog.png' %}"class="icon"><span>Каталог</span></a></label>
        
        <label for="slide-item-2"><img src="{% static 'shop/images/Vector.png'%}"class="icon"><span>ПК-Конфігуратор</span></label>
        
        <label for="slide-item-3"><img src="{% static 'shop/images/bi_pc-display.png'%}"class="icon"><span>ПК в наявності</span></label>
        
        <label for="slide-item-4"><img src="{% static 'shop/images/Compare.png'%}"class="icon"><span>Порівняння</span></label>
        
      </nav>

<h1 class="Kon"> Популярні Бренди</h1>
<div> <a href="#"> <img class="Cop" src="{% static 'shop/images/AMD.png'%}"></a>
   <a href="#"> <img class="Cor" src="{% static 'shop/images/Intel.png'%}"></a> 
   <a href="#"> <img class="Cos" src="{% static 'shop/images/Nvidia.png'%}"></a> 
   <a href="#"> <img class="Com" src="{% static 'shop/images/Asus.png'%}"></a> 
</div>

<div> 
<h1 class="Kol"> Хіти продажу</h1>
<a class="squares" href="#"> <img src="{% static 'shop/images/Товар 1.png'%}" ></a>
<a class="squared" href="#"> <img src="{% static 'shop/images/Товар 2.png'%}" ></a> 
<a class="squaref" href="#"> <img src="{% static 'shop/images/Товар 3.png'%}" ></a>
<a class="squareg" href="#"> <img src="{% static 'shop/images/Товар 4.png'%}" ></a>
<a class="squareh" href="#"> <img src="{% static 'shop/images/Товар 5.png'%}" ></a>
</div>

<div class="puff" id="contacts">
<h1 class="Ponos">Продукти</h1>
<a class="Ponoss" href="#">Процесори </a>
<a class="Ponossd" href="#">Відеокарти </a>
<a class="Ponossf" href="#">Материнські плати </a>
<a class="Ponossg" href="#">Оперативна пам'ять </a>
<a class="Ponossh" href="#">SSD Диски </a>

<h1 class="Dog">Бренди</h1>
<a class="Dogs" href="#">Gigabyte </a>
<a class="Dogd" href="#">NVidia </a>
<a class="Dogf" href="#">Logitech </a>
<a class="Dogg" href="#">Asus</a>
<a class="Dogh" href="#">Intel</a>

<h1 class="Cat">Сервіс</h1>
<a class="Cats" href="#">Upgrade Center </a>
<a class="Catd" href="#">Служба підтримки </a>
<a class="Catf" href="#">Гарантія </a>
<a class="Catg" href="#">База знань</a>
<a class="Cath" href="#">Центр завантажень</a>

<h1 class="Suck">Контакти</h1>
<a class="Sucks" href="#"> <img src="{% static 'shop/images/Phone.png'%}"> </a>
<a class="Suckd" href="#"> <img src="{% static 'shop/images/Telegram.png'%}"></a>
<a class="Suckf" href="#"> <img src="{% static 'shop/images/Location.png'%}"></a>
</div>
</nav>
{% endblock %}
