{% extends 'shop/header_menu.html' %}
{% load static %}
{% block content %}
    <div class="center taras">
        <img class="specificProductImage" src="{{ specificProduct.image.url }}" alt="">

    <div class="rightComponents">
        <h1 style="font-weight: 400;">{{ specificProduct.name }}</h1>
        <h2 style="margin-top: 8%;" class="andruha">{{ specificProduct.price }}</h2>
        <button class="knopochka"; style="background-color: #F51616;"><a href="#">Купити зараз</a></button>
        <button class="knopochka"; style="background-color: #171717;"><a href="#">Опис товару</a></button>
    </div>
    <div class="opis_har">
        <h1 class="opis_towaru">Опис Товару</h1>
        <p>{{ specificProduct.description }}</p>
        <h1 class="opis_towaru">Характеристики</h1>
        <p>{{ specificProduct.characteristic }}</p>
    </div>
    
    </div>
    
{% endblock %}